<ng-template #apiCall let-state$ let-response$="response$">
  <div class="col-8 main" [ngSwitch]="state$ | async">
    <p *ngSwitchCase="'wait'">Click button to call API.</p>
    <div *ngSwitchCase="'loading'" class="justify-content-center loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngSwitchCase="'done'">
      <p>Success</p>
      <pre>{{ response$ | async | json }}</pre>
    </div>
  </div>
</ng-template>

<accordion [isAnimated]="true">
  <accordion-group heading="Adjust Entity Schema">
    <sandbox-set-entity-properties
      (entitySchemaChange)="updateSchema($event)"
    ></sandbox-set-entity-properties>
  </accordion-group>
  <accordion-group heading="GET">
    <div class="row api-call">
      <div class="row justify-content-center">
        <div class="col-3 side">
          <button type="button" class="btn btn-primary" (click)="get()">
            Call API
          </button>
        </div>
        <ng-container
          [ngTemplateOutlet]="apiCall"
          [ngTemplateOutletContext]="{ $implicit: getState$, response$: get$ }"
        ></ng-container>
      </div>
    </div>
  </accordion-group>

  <accordion-group heading="POST" (isOpenChange)="inputOpenChange($event)">
    <div class="row api-call">
      <div class="row justify-content-center">
        <div class="col-3 side" *ngIf="showingInput$ | async">
          <ng-container *ngIf="entitySchema$ | async; let entitySchema">
            <pj-ui-form
              [schema]="entitySchema"
              (valueChange)="newEntity = $event"
            ></pj-ui-form>
          </ng-container>
          <button type="button" class="btn btn-primary" (click)="post()">
            Call API
          </button>
        </div>
        <ng-container
          [ngTemplateOutlet]="apiCall"
          [ngTemplateOutletContext]="{
            $implicit: postState$,
            response$: post$
          }"
        ></ng-container>
      </div>
    </div>
  </accordion-group>

  <accordion-group heading="DELETE">
    <div class="row api-call">
      <div class="row justify-content-center">
        <div class="col-3 side">
          <!-- Add form to create body for post -->
          <button type="button" class="btn btn-primary mb-3" (click)="get()">
            Get Elements To Delete
          </button>
          <ng-container *ngIf="hasElements$ | async">
            <pj-ui-button-list
              [items]="elementsToDelete$ | async"
              (itemClick)="delete($event)"
            ></pj-ui-button-list>
          </ng-container>
        </div>
        <ng-container
          [ngTemplateOutlet]="apiCall"
          [ngTemplateOutletContext]="{
            $implicit: deleteState$,
            response$: delete$
          }"
        ></ng-container>
      </div>
    </div>
  </accordion-group>
</accordion>
